
.main {
    display: -webkit-flex; /* Safari */
    display: flex;
    font-family: Jost,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}

.rightInner {
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-wrap: wrap;
}

.left, .right {
    border: 1px solid #CDCDCD;
    flex-shrink: 3;
    padding: 10px;
    overflow: auto;
    height: 100%;
    margin: 10px;
    border-radius: 10px;
}

.three {
    animation: red-border-glow 4s infinite linear;
}

.five {
    animation: green-border-glow 4s infinite linear;
}

.fifteen {
    animation: blue-border-glow 4s infinite linear;
}

@keyframes red-border-glow {
    0% {
        color: #000000;
        border: 1px solid rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0 0 0 0 rgba(150,0,0 0);
        box-shadow: 0 0 0 0 rgba(150,0,0,0);
    }
    50% {
        color: #ff0000;
        border: 1px solid rgba(256, 0, 0, 1);
        -webkit-box-shadow: 0 0 10px 0 rgba(150, 0, 0, 1);
        box-shadow: 0 0 10px 0 rgba(150, 0, 0, 1);
    }
    100% {
        color: #000000;
        border: 1px solid rgba(0, 0, 0, .3);
        -webkit-box-shadow: 0 0 10px 0 rgba(150, 0, 0, 0);
        box-shadow: 0 0 10px 0 rgba(150, 0, 0, 0);
    }
}
@keyframes blue-border-glow {
    0% {
        color: #000000;
        border: 1px solid rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0 0 0 0 rgba(0,150,0 0);
        box-shadow: 0 0 0 0 rgba(0,150,0,0);
    }
    50% {
        color: #00ff00;
        border: 1px solid rgba(0, 250, 0, 1);
        -webkit-box-shadow: 0 0 10px 0 rgba(0, 150, 0, 1);
        box-shadow: 0 0 10px 0 rgba(0, 150, 0, 1);
    }
    100% {
        color: #000000;
        border: 1px solid rgba(0, 0, 0, .3);
        -webkit-box-shadow: 0 0 10px 0 rgba(0, 150, 0, 0);
        box-shadow: 0 0 10px 0 rgba(0, 150, 0, 0);
    }
}

@keyframes green-border-glow {
    0% {
        color: #000000;
        border: 1px solid rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0 0 0 0 rgba(0,0,150, 0);
        box-shadow: 0 0 0 0 rgba(0,0,150,0);
    }
    50% {
        color: #0000ff;
        border: 1px solid rgba(0, 0, 256, 1);
        -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 150, 1);
        box-shadow: 0 0 10px 0 rgba(0, 0, 150, 1);
    }
    100% {
        color: #000000;
        border: 1px solid rgba(0, 0, 0, .3);
        -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 150, 0);
        box-shadow: 0 0 10px 0 rgba(0, 0, 150, 0);
    }
}

.right {
    flex: 1;
}

.left {
    flex-shrink: 1;
}

.left span {
    display: block;
    margin:4px;
    padding:2px;
}


.box {
    border: 1px solid #ABABAB;
    padding: 10px;
    overflow: auto;
    margin: 10px;
    flex: 1;
    border-radius: 10px;
    webkit-box-shadow: 10px 11px 57px -31px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 11px 57px -31px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 11px 57px -31px rgba(0, 0, 0, 0.75);
}

.one {
    flex-grow: 2;
}

.button {
    outline: #3c9500;
    font-size: 16px;
    cursor: pointer;
    line-height: 1;
    font-weight: 700;
    padding: 8px 12px;
    background-color: #ffffff;
    border: 1px solid #3c9500;
    border-radius: 4px;
    color: #3c9500;
    margin-top:5px;
    margin-bottom:5px;
}

.button:hover {
    background-color: #3c9500;
    color:#ffffff;
}

.normal {
    display:block;
}

.paginationjs ul {
    display: block;
    margin:0;
    padding:0;
}

.paginationjs li {
    float: left;
    border: 1px solid #3c9500;
    list-style: none;
    margin:2px;
    padding:4px;
    border-radius: 4px;
}

.paginationjs li.active{
    background-color:#3c9500;
}

.paginationjs li a {
    text-decoration: none;
    color: #3c9500;
}
.paginationjs li.active a{
    color:#ffffff;
}




